body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-color: #000;
  color: blue;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

header {
  text-align: center;
  color: white;
  animation: pulse 1s ease-in-out;
  font-weight: bolder;
  font-size: 25px;
}

.formulas-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.formula-container {
  font-size: 15px;
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 9px;
  background-color: blue;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  color: inherit;
  color: #a0d0e0;
}

.formula-container:active {
  transform: scale(0.98);
  background-color: rgb(66, 66, 255);
  box-shadow: 7px 7px 7px 5px rgba(0, 0, 0, 0.9);
  color: white;
}

.formula-container h2 {
  margin: 0;
}

.formula-result {
  display: none;
}

.formula-result p {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}